@model LojaGames.Models.ListasProdutos;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;


@{
    ViewData["Title"] = "Login";
}



<link href="~/css/login.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

@* Alterado a entrada principal de Email para CPF, para ficar mais seguro *@

<h1 class="login-title fontpagina">Login</h1>

<form asp-action="Login" method="post" class="login-form">
    <div class="from-group">
        <label>Cpf:</label>
        <input type="text" name="cpf" required maxlength="11" minlength="11" class="form-control" />
    </div>

    <div class="from-group">
        <label>Senha:</label>
        <input type="password" name="senha" maxlength="49" required class="form-control" />
    </div>

    <br />

    <button type="submit" style="font-size: 20px;" class="text-white fontpagina btn btn-primary">Login</button>
    <label class="text-danger">@HttpContextAccessor.HttpContext.Session.GetString("logL")</label>
</form>
<br />

@{
    HttpContextAccessor.HttpContext.Session.SetString("logL", "");

}
<br />
<a asp-controller="LoginControler" asp-action="Cadastro" style="font-size: 20px;" class="text-white fontpagina btn btn-primary">Cadastrar</a>