:root {
    --colorbase: #FAFAFA;
    --colorbase1: #0079D6;
    --colorbase2: #FFFFFF;
    --colorborder1: #D2D2D2;
    --colorbasegold1: #FCFF97;
    --colorbasegold2: #DFE600;
}


.backinfo{
    background-color: var(--colorbase1);
    border-radius: 15px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom:0;
    padding-right: 0;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,25%);

}
.backinfobg {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    background-color: var(--colorbase2);
    border-radius: 15px;
}
#iconedoperfil{
    width:100px;
    height:100px;
}
.alinhadireita{
    justify-content:center;
    flex-direction:column;
    text-align:left;
    padding-left: 40px;
}

@font-face {
    font-family: 'jersey25';
    src: url('../assets/font/jersey25-regular.ttf') format('truetype');
}
.fontpagina{
    font-family: jersey25;
}
.boasvindas {
    font-size:24px;
    font-weight: bold;
    text-transform: uppercase;
}
.referencia{
    font-size:24px;
}
.respostatext{
    font-size:18px;
}
.nivelconta {
    background-color: var(--colorbasegold1);
    border-radius: 10px;
    border: 1px solid var(--colorbasegold2);
}
.imagemcontamenu{
    width: 70px;
}
.opcoesdaconta {
    background-color: var(--colorbase2);
    border: 1px solid var(--colorborder1);
    border-radius: 15px;
    padding: 1%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    padding-top:3%;
    padding-bottom:3%;
    text-decoration: none;
    cursor:pointer;
}


.opcoesmenu{
    margin-top: 50px;
    margin-bottom: 50px;
}
.backhistorico {
    background-color: var(--colorbase1);
    border-radius: 15px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 0;
    padding-right: 0;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,25%);
}
.fronthistorico {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorbase2);
    border-radius: 15px;
}

   
.pedido{
    padding-left: 10px;
    font-size:20px;
}
#imagemdohistorico {
    width: 120px;
    border: 1px solid var(--colorborder1);
    border-radius: 15px;
}
.margintoph{
    margin-top: 40px;
}
.campodomenu{

    width:60%;
}
.titulomenu{
    font-size: 20px;
    font-weight:bold;
}
.textodotitulomenu{
    padding-left: 3px;
}