

@font-face {
    font-family: 'jersey25';
    src: url('../assets/font/jersey25-regular.ttf') format('truetype');
}


.xfull {
    width: calc(25px + 100%);
    margin-left: -15px;
    margin-top: -2.5px;
}
/*----------------------------- Section -------------------------------------------------*/


.containerdoproduto {
    margin-top: 20px;
    margin-bottom:20px;
    margin-left: 50px;
    margin-right:50px;
    width: 250px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 34px;
    box-shadow: 0px -1px 4px rgb(0,0,0,0.25),0px 4px 4px rgb(0,0,0,0.25);
}
.imagemcotainerproduto {
    border-radius: 34px;
    width: 100%;
}
.preco {
    font-size: 15px;
    color: rgba(0,0,0,0.70)
}
.textoavista {
    font-size: 12px;
    color: #FFA600;
}
.precovista {
    font-size: 24px;
    color: #FF9E16;
}
.imagemdaseta{
    width: 50px;
}
.backdosprodutos{
    padding-bottom: 100px;
    display:flex;
    flex-direction:row
}
.containerdosentro{
    padding-right: 50px;
    padding-left: 50px;
}
.ultimaseta{
    justify-content:right;
}
.seta {
    transform: scaleX(-1);
}
.barradetitulo {
    background-color: blue;
    width: auto;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
}
.titulodabarra {
    font-family: jersey25;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}
.banner{
    width: 100%;
    height: 35vw;
    background-size:cover;
    background-position:center;
    background-position-y: 0px;
}
.backgroundbanner1 {
    background-image: url("/assets/image/exibicao/papelps5.jpg");
}
.backgroundbanner2{
    background-image: url("/assets/image/exibicao/paperxbox.jpg");
}